html, body {
	font-family: Helvetica;
	height: 100vh;
	padding-left: 30px;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
}

.option {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	margin: 0px;
	width: 5%;
	height: 4%;
}

.option: hover {
	background-color: black;
	color: white;
}