html, body {
	font-family: Helvetica;
	height: 100vh;
	padding-left: 30px;
}

#title {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

#content {
	height: 80%;
	width: 60%;
	margin: auto;
}

.inner {
	display: block;
	margin-left: 25%;
}

#display {
	margin-top: 20px;
}

.option {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	margin-top: 20px;
	width: 20%;
	height: 4%;
	float: left;
}

.option:hover {
	background-color: black;
	color: white;
}

h2 {
	display: block;
	font-size: 100%;
}

#submit {
	margin-top: 10px;
}

#pdf {
	float:right;
	width: 20%;
	height: 80%;
}