html, body {
	font-family: Helvetica;
	height: 100vh;
}

#title {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

#menu{
	width: 30%;
	margin: auto;
}

#content {
	margin: auto;
	width: 50%;
	height: 100%;
}

#newData, #editData{
	clear: left;
	float: left;
}

.option {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	margin-top: 10px;
	width: 50%;
	height: 4%;
	float: left;
}

.option:hover {
	background-color: black;
	color: white;
}

#submit {
	margin-top: 30px;
}

#pdf {
	float: right;
	width: 70%;
	height: 70%;
}

#pdf_file {
	width: 100%;
	height: 100%;
}

.inner {
	margin-top: 50px;
}